body{
    margin: 0 auto;
    width: 100%;
    padding: 0;
}
.all{
    margin: 0 auto;
    width: 100%;
    padding: 0;
}
h1{
    text-align: center;
    vertical-align: middle;
    font-family: 'Raleway', sans-serif;
    color: #fff;
    font-size: 400%;
    font-weight: 600;
    margin: 235px 0px 0px 0px;
}
.header{
    background: url(img/header.jpg);
    background-position: 50% 50%;
    width: 100%;
    height: 100vh;
    background-attachment: fixed;
}
.header>p>span{
    font-family: 'Pacifico', cursive;
    color: black;
    font-size: 160%;
    font-weight: 500;
}
.header>p{
    text-align: center;
    font-family: 'Raleway', sans-serif;
    color: #fff;
    font-weight: 600;
    font-size: 190%;
    padding: 0;
    margin: 0;
}
.header>h1+p{
    color: #363636;
    font-size: 130%;
    font-weight: 600;
}
.menu>li{
    display: inline-block;
}

.portfolio{
    width: 960px;
    height: 1530px;
    margin: 0 auto;
}

.portfolio-head{
    width: 100%;
    height: 100px;
}
.portfolio-head>p{
    padding:0;
    margin: 50px  0 0 0;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    color: #ccc;
    font-size: 300%;
}
.logo{
    width: 360px;
    height: 341px;
    background: url(img/logo.jpg);
    float: left;
    margin: 0px 10px 0px 10px;
}
.website{
    width: 360px;
    height: 341px;
    float: left;
    background: url(img/website.jpg);
    margin: 0px 10px 0px 10px;
}
.iphone{
    width: 175px;
    height: 341px;
    float: left;
    background: url(img/iphone.jpg);
    margin: 0px 10px 0px 10px;
}
.ipad{
    width: 360px;
    height: 341px;
    float: left;
    background: url(img/ipad.jpg);
    margin: 20px 10px 0px 10px;
}
.nerv{
    width: 360px;
    height: 233px;
    float: left;
    background: url(img/nerv.jpg);
    margin: 20px 10px 0px 10px;
}
.eath{
    width: 360px;
    height: 233px;
    float: left;
    background: url(img/eath.jpg);
    margin: 20px 10px 0px 10px;
}
.webdesing{
    width: 175px;
    height: 341px;
    float: left;
    background: url(img/webdesing.jpg);
    position: absolute;
    margin: 361px 10px 0px 770px;
}
.easiheat{
    width: 360px;
    height: 233px;
    float: left;
    background: url(img/easiheat.jpg);
    margin: -125px 0px 0px 10px;
}
.desing{
    width: 360px;
    height: 166px;
    float: left;
    background: url(img/desing.jpg);
    margin: 20px 10px 0px 20px;
}
.kub{
    width: 175px;
    height: 341px;
    float: left;
    background: url(img/kub.jpg);
    margin: -125px 0px 0px 10px;
}
.macbook{
    width: 360px;
    height: 341px;
    float: left;
    background: url(img/macbook.jpg);
    margin: -88px 0px 0px 10px;
}
.heartwood{
    width: 360px;
    height: 341px;
    float: left;
    background: url(img/heartwood.jpg);
    margin: -10px 0px 0px 20px;
}
.mask{
    width: 100%;
    height: 100%;
    background: #62a2bb;
    opacity: 0;
    
    transition-property: font-size, margin, padding, opacity;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
}
.portfolio>div:hover .mask{
    opacity: 0.8;
}
.portfolio>div{
    transition-property: background-size;
    transition-duration: 1s;
    transition-timing-function: ease;
    background-position: 50% 50%;
    -webkit-transition-property: background-size;
    -webkit-transition-duration: 1s;
    -webkit-transition-timing-function: ease;
}
.portfolio>div:hover{
    background-size: 104% 104%;
    transition: 1s;
}




.about_me{
    width: 100%;
    height: 455px;
}
.my_photo{
    width: 48%;
    height: 100%;
    
    float: left;
}
.description{
    width: 52%;
    height: 100%;
    float: left;
    font-family: 'Raleway', sans-serif;
    background-color: #f5f4f4;
}
.description>h2{
    color: #434343;
    padding: 0;
    margin: 0px 0px 0px 90px;
    font-size: 300%;
}
.description>h2:first-child{
    margin-top: 130px;
}
.description>p{
    color: #969696;
    padding: 0;
    margin: 0px 0px 0px 90px;
    font-size: 135%;
}
.description>p:nth-child(3){
    margin-top: 40px;
}




.footer{
    width: 100%;
    height: 420px;
    background-image: url(img/dark_texture.jpg);
    color: #8e8e8e;
    font-family: 'Raleway', sans-serif;
}
.footer_left{
    width: 50%;
    height: 300px;
    float: left;
}
.footer_left>p{
    padding: 0;
    margin: 5px 0px 0px 185px;
}
.footer_left>p>a{
    text-decoration: none;
    color: #4bb8d2;
    font-weight: 600;
}
.footer_left>h2{
    padding: 0;
    margin: 55px 0px 25px 185px;
    font-size: 200%;
}
.footer_left>h3{
    padding: 0;
    margin: 25px 0px 25px 185px;
    font-size: 130%;
}
.footer_right{
    width: 50%;
    height: 300px;
    float: left;
}
.footer_right>p{
    margin: 5px 0px 0px 185px;
    padding: 0;
}
.footer_right>p:nth-child(3){
    margin: 40px 0px 0px 185px;
}
.footer_right>h2{
    padding: 0;
    margin: 55px 0px 25px 185px;
    font-size: 200%;
}
.footer_right>p>a{
    text-decoration: none;
    color: #4bb8d2;
    font-weight: 600;
}
.footer_both{
    width: 100%;
    height: 120px;
    float: left;
}
.footer_both>p{
    text-align: center;
    margin: 0;
    padding: 0;
}
.footer_both>p:first-child{
    margin-top: 45px;
}
.footer_both>p:first-child+p{
    font-size: 80%;
}